seaborn
matplotlib
scipy
pandas
fcsparser
pyyaml
click
optuna
scikit-learn
jupyterlab
pyyaml
pyimagej
xgboost
imbalanced-learn
dask-labextension
ipympl
plotly
flowkit==0.5.0
numpy==1.20.1
ipywidgets>=7.5
pyarrow
tifffile
